@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: #38313a;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Ensure the SVG stays at the bottom-right corner */
}

.veridaq-gradient {
  background-image: linear-gradient(to right, #694C9F, #EA098D)
} 

.veridaq-primary-1 {
  color: #694C9F
} 


.blob-bottom-right {
  position: absolute; /* Change from fixed to absolute */
  bottom: 0;
  right: 0;
  width: 400px; /* Adjust the width as needed */
  height: auto; /* To maintain aspect ratio */
  z-index: -1; /* Ensure the blob is behind other content */
}

.blob-center {
  position: absolute;
  width: 500px; /* Adjust the width as needed */
  height: auto; /* To maintain aspect ratio */
  z-index: -1; /* Ensure the blob is behind other content */
}

.blob-center2 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 500px; /* Adjust the width as needed */
  height: auto; /* To maintain aspect ratio */
  z-index: -1; /* Ensure the blob is behind other content */
}

